services:
  - type: web
    name: django-app
    env: python
    plan: free
    buildCommand: |
      pip install -r requirements.txt
      
    startCommand: gunicorn ecom.wsgi
    envVars:
      - key: SECRET_KEY
        generateValue: true
     
